@import "colors";

.footer{
    position: relative;
    height: 90px;
    background: $background-black;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    color: $text-white;
    font-size: 14px;
    &__author{
        left: 225px;
    }
    &__link{
        text-align: right;
        margin-right: 50%;  
        color: $text-white;
        &:hover{
            font-size: 18px;
        }
    }
}