@import "colors";

.page{
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin-left: 4%;
    margin-right: 0%;
    display: flex;
    flex-wrap: wrap;  
}

@media screen and (max-width: 360px){
    .container{
        position: relative;
        top: 128px;
        margin-bottom: 150px;
    }
}
