@import "colors";

.seeker{
    left: 60px;

    &__image{
        width: 100%;
        height: 500px;
    }
    &__title{
        position: absolute;
        left: 92px;
        top: 306px;
        font-size: 36px;
        color: $text-white;
    }
    &__input{
        left: 120px;
        top: 394px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding-left: 10px;
        position: absolute;
        border-radius: 20px;
        width: 458px;
        height: 44px;
    }
}

@media screen and (max-width: 768px){
    .seeker{
        &__image{
            height: 428px;
            background-image: url(/images/banner.png);
        }
        &__title{
            left: 8px;
        }
        &__input{
            width: 350px;
            left: 10px;
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 360px){
    .seeker{
        left: 0;
        position: relative;
        &__image{
            background-image: url(/images/banner-mobile.png);
            height: 304px;
        }
        &__title{
            left: 27px;
            top: 396px;
            color: $text-black;
            font-size: 24px;
            width: 238px;
            height: 56px;
            margin-bottom: 5px;
        }
        &__input{
            margin-top: 10px;
            left: 10px;
            top: 467px;
            width: 303px;
        }
    }
}