<div class="menu">
    <nav class="menu__nav">
        <ul class="menu__items">
            <li class="menu__item"><a class="menu__item--select menu__item--first " href="#">Directorio de Agentes</a></li>
            <li class="menu__item"><a class="menu__item--select" href="#">Contacto</a></li>
            <li class="menu__item"><a class="menu__item--select menu__item--last" href="#">Ingresar</a></li>
        </ul>
        <ul class="menu__figure">
            <li class="menu__figure--first"></li>
            <li class="menu__figure--second"></li>
            <li class="menu__figure--third"></li>
        </ul>
    </nav>
</div>