

.title {
    font-family: 'arial';
    text-align: center;
}

.grid {
    border: .150rem solid;
    padding: 3% 2%;
    margin: auto;
    height: 30em;
    width: 900px;
}

.box{
    text-align: left;
    font-size: 1.2em;
    color: #FFFFFF;
    float: left;
    height: 380px;
    width: 250px;
    margin: 2.5%;
}

.box .p{
    border: 15px solid transparent;
}

.box-facebook{
    font-family: 'Playfair Display', serif;
    background: #0E27CA;
}

.box-twitter{
    font-family: 'Nanum Gothic', sans-serif;
    background: #4CB4E7; 
}

.box-instagram{
    font-family: 'Open Sans Condensed', sans-serif;
    background: #8E4100; 
}

.sprite {
    width: 51px;
    height: 51px;
    margin: auto;
    border-radius: 60%;
}

.sprite-facebook{
    background: url('imgs/social-media-icons-css-sprite.png') no-repeat -60px -62px;
    margin-top: 50px;
}

.sprite-twitter{
    background: url('imgs/social-media-icons-css-sprite.png') no-repeat -3px -62px;
    margin-top: 10px;
}

.sprite-instagram{
    background: url('imgs/social-media-icons-css-sprite.png') no-repeat -117px -62px;
    margin-top: 0.5px;
}

.sprite-facebook:hover{
    background: url('imgs/social-media-icons-css-sprite.png') no-repeat -60px -5px;
}

.sprite-twitter:hover{
    background: url('imgs/social-media-icons-css-sprite.png') no-repeat -3px -5px;
}

.sprite-instagram:hover{
    background: url('imgs/social-media-icons-css-sprite.png') no-repeat -117px -5px;
}
