@import "colors";
@import "variables.scss";
.menu{
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
    &__items{
        display: none;
    }
    &__figure{
        display: block;
        position: relative;
        margin-left: 80%;
        &--first{
            @extend %data-box;
            height: 9px;
            top: 0px;
        }
        &--second{
            @extend %data-box;
            height: 9px;
            top: 15px;
        }
        &--third{
            @extend %data-box;
            height: 9px;
            top: 30px;
        }
    }
    &__nav{
        position: absolute;
        width: 540px;
        top: 15px;
        right: 5px;
    }
}



@media screen and (min-width: 768px){
    .menu{
        &__figure{
            display: none;
        }
        &__items{
            list-style: none;
            display: flex;
            flex-wrap: row wrap;        
        }
        &__item{
            margin-left: 12px;
            line-height: normal;
            &--select{
                font-size: 17px;
                color: $text-white;
                margin-right: 6px;
                text-decoration: none;
                &:hover{
                    color: $text-purple;
                } 
            }
            &--first{
                border-bottom: 5px solid $border-white;
                padding-bottom: 2px;
            }
            &--last{
                margin-left: 60px;
                
            }
        }
        
    }
    
}