$button-color: black;
$text-color-button: white;
$text-red: #eb2f0e;
$background-black: black;
$background-withe: white;
$text-gray: #575757;
$text-black: black;
$text-gray-light: #a5a5a5;
$borders-color: #C8C8C8;