@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$text-red: #eb2f0e;
$text-gray: #575757;
$text-black: black;
$text-gray-light: #a5a5a5;
$borders-color: #C8C8C8;
$background-black: black;

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: $text-gray;
    margin: 0 0 1px;
    height: 100%;
    line-height: 1.7em;
    border-top: 10px solid $background-black;
}

.background{
    background-image: url(../images/background-gray-texture-5.jpg);
    background-position: left top;
    background-repeat: repeat;
}

.container{
    background-color: transparent;  
    padding-left: 20px;
    padding-right: 20px;
}

.row{
    margin: 0 auto;
    max-width: 1140px;
    min-width: 755px;
    width: 100%;
}

@media (max-width: 600px) {
    
    .menu__nav{
        margin-top: 125px;
        left: 5px;
        border: none;
        border-top: none;
        border-bottom: none
    }

    .menu__items{
        padding: 0px;
        margin: 0px;
    }

    .menu__items--item{
        float: none;
        border-bottom: 1px solid $borders-color;
    }

    body .container .row{
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        float: left;
    }

    .titlePrincipal{
        margin-top: 300px;
    }

    .boxs{
        flex-flow: column wrap;
    }
}
@media (min-width: 600px) {
    .menu__items--item{
        float: left;
    }

    .menu__nav{
        border-top: 1px solid $borders-color;
        border-bottom: 1px solid $borders-color;
    }
}

