@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "colors";

.page{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: $text-gray;
    margin: 0 0 0 0;
    line-height: 1.7em;
    border-top: 10px solid $background-black;
}

.background{
    background-image: url(../images/background-gray-texture-5.jpg);
}

.container{
    background-color: transparent; 
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}

@media screen and (max-width: 480px){
    
    .page{
        width: 120%;
    }

    .container{
        width: 100%;
        min-width: 0;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
    }

}