@import "colors";

.pulledquote{
    background: $background-withe;
    border: 1px solid $borders-color;
    color: $text-red;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Palatino Linotype", Palatino;
    font-weight: bold;
    padding: 16px;
    width: 96%;
    margin-left: 0;
}
.paragraph{
    margin-right: 0px;
    background: transparent;
    margin-top: 5px;
    border-top: 1px solid $borders-color;
    
    &__date{
        color: $text-black;
    }
    &__title{
        font-size: 22px;
        color: $text-red;
        margin-top: 26px;
        margin-bottom: 13px;
    }
}

.main{
    text-align: left;
    line-height: 1.3em;
    padding-bottom: 5px;
    
    &__dowload{
        text-decoration: underline;
        color: $text-gray;
        &:hover{
            color: $text-black;
        }
    }
}
@media screen and (max-width: 480px){
    .main{
        &__title{
            margin-top: 400px;
            font-size: 35px;
            line-height: 40px;
        }
        &__blockquote{
            font-size: 22px;
        }
        &__dowload{
            font-size: 20px;
        }
    }
}