{{#companies}}
    <div class="box">
        <div class="box__container-header">
            <h3 class="box__container-header__title">{{name}}</h3>
            {{#isCertified}}
                <img class="box__container-header__logo" src="/images/certified.png">
            {{/isCertified}}
        </div>
        <div class="box__upper-line"></div>
        <div class="box__information">
            <img class="box__information__picture" src="{{image}}">
            <p class="box__information__text">{{description}}</p>
        </div>
        <div class="box__options">
            <p class="box__options__price">Desde: {{rate}} / {{hours}} horas</p>
            <button class="box__options__button button" >Contratar</button>
        </div>
        
    </div>
{{/companies}}